
#logo{
    width: 100px;
    height: 100px;
}
#navbar{
   position: fixed; 
}
nav ul li {
    display: inline-block;
    padding: 20px;
    margin-right: 100px;
}
.pik{
    background-image: url(../images/salami-3296473_960_720.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    text-align: center;
    padding-top:200px ;
    background-attachment: fixed;
 }
 .sha{
    width: 600px;
    margin-bottom: 500px;
}
.col-md-3 img{
    width: 200px;
    height: 200px;
} 
.menu{
    text-align: center;
    padding: 20px;
}
.jumbotron{
    background-color: black;
    color: white;
}
#ret{
    display: none;
}
