body{
   background-image: url(/images/Fan-Favourit.jpg);
   background-repeat: no-repeat;
   
}
nav ul li {
    display: inline-block;
    padding:10px;
    margin-right:150px;
    color:#dc3545 ;
    font-size: 20px

}


