
#logo{
    width: 100px;
    height: 100px;
}
#navbar{
   position: fixed; 
}
nav ul li {
    display: inline-block;
    padding: 20px;
    margin-right: 100px;
}
#pik{
    background-image: url(../images/salami-3296473_960_720.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    text-align: center;
    padding-top:200px ;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.8);
 }
 .sha{
    width: 600px;
    margin-bottom: 500px;
}
.col-md-3 img{
    width: 200px;
    height: 200px;
} 
/* .dev{
    display: none;
} */
#menu{
    text-align: center;
    padding: 20px;
}
.jumbotron{
    background-color: black;
    color: white;
}
#ret{
    display: none;
}
#contact .jumbotron{
    background-color:black;
    color: white;
}
#contact{
    text-align: center;

}

#pik{
    color: white;
    
}
.dev{
    display: none;
}
#pik p{
   font-size: 20px;
   font-weight: bold; 
}
.img1{
    position: absolute;
    margin-top: 12%;
    padding: 30px;
    color: blue;
border:2px solid white;
display: none;
}
.card{
    width: 200px;
}